@import url('https://fonts.googleapis.com/css?family=Exo+2|Nunito&display=swap');

:global(html) {
  background-color: #000;
  display: grid;
  justify-content: stretch;
  align-content: stretch;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Exo 2', sans-serif; */
}

:global(body) {
  margin: 0px;
  display: grid;
  justify-content: stretch;
  align-content: stretch;
}

:global(#root) {
  display: grid;
  justify-content: stretch;
  align-content: stretch;
}

:global(.grid) {
  display: grid;
  justify-content: stretch;
  align-content: stretch;
}

:global(*::selection) {
  background-color: hsla(0, 0%, 100%, 0.3);
}
